<div class="container">

<div class="row displayDiv" ng-controller="showController">
  <div class="col s6 offset-s3 blue  z-depth-2">
    <h3>{{movie.Title}}</h3>
    <div class="flexDiv">
    <div class="imgDiv">
    <img src="{{movie.Poster}}" alt="">
    </div>
    <div class="contentDiv">
      <p><strong>Starring:</strong> {{movie.Actors}}</p>
      <p><strong>Description:</strong>{{movie.Plot}}</p>
      <h5>Additional Details:</h5>
      <p><strong>Awards:</strong>{{movie.Awards}}</p>
      <p><strong>Country:</strong> {{movie.Country}}</p>
      <p><strong>Language:</strong> {{movie.Language}}</p>
      <p><strong>Year:</strong> {{movie.Year}}</p>

    </div>
    </div>

</div>
</div>

</div>
